<div class="settings" onclick="openSettings()">
  <i class="fa-solid fa-gear"></i>
</div>

<div class="d-flex flex-columns justify-content-center align-items-center gap-10">

  <div class="">
    <div class="data-percent">
      <div id="timer" class="timer">00:00</div>
      <div id="mode">Work</div>
    </div>
  </div>
  <div class="btn-group">
    <button class="play" onclick="play()"><i class="fa-solid fa-play fa-3x"></i></button>
    <button class="pause d-none" onclick="pause()"><i class="fa-solid fa-pause fa-3x"></i></button>
    <button class="reset" onclick="stop()"><i class="fa-solid fa-stop fa-3x"></i></button>
  </div>
</div>

<div class="settings-list">
  <i class="fa-solid fa-xmark close" onclick="closeSettings()"></i>
  <h3>Work</h3>
  <div class="d-flex flex-columns gap-10">
    <label>
      Minutes
      <input type="number" id="work-time-minutes" min="0" step="1" value="25">
    </label>
    <label>
      Seconds
      <input type="number" id="work-time-seconds" min="0" step="1" value="0">
    </label>
    <label>
      Intervals
      <input type="number" id="work-time-intervals" min="0" step="1" value="4">
    </label>
  </div>
  <h3 class="mt-3">Rest</h3>
  <div class="d-flex flex-columns gap-10">
    <label>
      Minutes
      <input type="number" id="rest-time-minutes" min="0" step="1" value="5">
    </label>
    <label>
      Seconds
      <input type="number" id="rest-time-seconds" min="0" step="1" value="0">
    </label>
  </div>
  <h3 class="mt-3">Long Rest</h3>
  <div class="d-flex flex-columns gap-10">
    <label>
      Minutes
      <input type="number" id="long-rest-time-minutes" min="0" step="1" value="15">
    </label>
    <label>
      Seconds
      <input type="number" id="long-rest-time-seconds" min="0" step="1" value="0">
    </label>
  </div>
  <button onclick="applyNewTimes()">Apply</button>
</div>

